<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>UserProfile</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<form th:action="@{/admin/changepasswordyes}" method="GET">

    <input th:placeholder="Password" type="password" id="password" name="password" /> <br/>
    <input th:placeholder="Passwordconfirm" type="password" id="passwordconfirm" name="passwordconfirm" /> <br/>
    <input type="submit" name="submit" value="Change password"/>
</form>
</body>
</html>