<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<form th:action="@{/admin/home}" method="get">
    <button name="registration" type="Submit">Home</button>
</form>
<label th:text="${userName}"></label>

<h2>Terminal List</h2>
<table class="table table-striped">
    <tr>
        <th>Serial</th>
        <th>Active</th>
        <th>Band Model</th>
        <th>User</th>
        <th>Edit Terminal</th>
    </tr>
    <tr th:each="terminal : ${terminals}">
        <td th:text="${terminal.serial}">Id</td>
        <td th:text="${terminal.active==true?'YES':'NO'}">Name</td>
        <td th:text="${terminal.bandModel==null?'':terminal.bandModel.getName()}">Last Name</td>
        <td th:text="${terminal.user==null?'':terminal.user.getEmail()}">Email</td>
        <td><a th:href="${'/admin/terminal/edit/' + terminal.serial}">Edit Terminal</a></td>

    </tr>
</table>

</body>
</html>