<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Cambia tu contraseña</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" th:href="${'/user/home'}">Inicio</a>
        </div>
    </div>
</nav>

<form th:action="@{/user/changepasswordyes}" method="GET">

    <input th:placeholder="Password" type="password" id="password" name="password" /> <br/>
    <input th:placeholder="Passwordconfirm" type="password" id="passwordconfirm" name="passwordconfirm" /> <br/>

    <div class="row">
        <button type="submit" class="btn btn-default">Aceptar</button>
    </div>
</form>
</body>
</html>