<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>UserProfile</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Balance Fitness Tracker</p>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a th:href="${'/user/profile/'}">Ver perfil</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Historiales<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${'/user/CaloriesHistory'}" >Historial de calorias</a></li>
                        <li><a th:href="${'/user/PulseHistory'}" >Historial de pulsos</a></li>
                        <li><a th:href="${'/user/StepsHistory'}" >Historial de distancias</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locaciones<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${'/user/Map'}">Locaciones</a></li>
                        <li><a th:href="${'/user/LastLocation'}">Última locacion</a></li>
                        <li><a th:href="${'/user/dayLocations'}" >Locaciones del día</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${'/user/edit/'}">Editar Perfil</a></li>
                        <li><a th:href="${'/user/changepassword/'}">Cambiar contraseña</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="${'/logout'}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <script th:inline="javascript">
        var idValue = [[${id}]];

        function updateSteps(){
            $.getJSON( "/getSteps/" + idValue, function( data ) {
                $('#steps').html(data.steps);
            });
        }

        function updateCalories(){
            $.getJSON( "/getCalories/" + idValue, function( data ) {
                $('#calories').html(data.calories);
            });
        }

        function updateDistance(){
            $.getJSON( "/getDistance/" + idValue, function( data ) {
                $('#distance').html(data.distance);
            });
        }

        function updatePulse(){
            $.getJSON( "/getPulse/" + idValue, function( data ) {
                $('#bpm').html(data.bpm);
            });
        }

        setInterval(function(){
            updateSteps();
            updateDistance();
            updateCalories();
            updatePulse();
        }, 1000);
    </script>

   <p>Pasos</p>
    <span id="steps" class="label label-primary" th:text="${countSteps}">countSteps</span> <br/><br/>

    <p>Distancia</p>
    <span id="distance" class="label label-primary" th:text="${countDistance}">countDistance</span> <br/><br/>

    <p>Calorias</p>
    <span id="calories" class="label label-primary" th:text="${countCalories}">countCalories</span><br></br>

    <p>Ritmo cardiaco</p>
    <span id="bpm" class="label label-primary" th:text="${countBpm}">countCalories</span><br></br>

</div>
</body>
</html>